{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SENA APP{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OerWE9NfDFxM+40J_SgYsog+Hwaacj3UqDhqTz3X9d" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>

    <!-- HEADER -->
    <header class="custom-header">
        <div class="logo">SENA APP • Gestión</div>

        <nav>
            <a href="{% url 'aprendices:main' %}">Inicio</a>
            <a href="{% url 'aprendices:aprendices' %}">Aprendices</a>
            <a href="{% url 'instructores:instructores' %}">Instructores</a>
            <a href="{% url 'programas:programas' %}">Programas</a>
            <a href="{% url 'Cursos:cursos' %}">Cursos</a>
        </nav>
    </header>

    <!-- CONTENIDO -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- FOOTER -->
    <footer class="custom-footer">
        © 2025 <span>SENA APP</span> – Plataforma de Gestión Académica
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>