{% extends "master.html" %}
{% load static %}

{% block title %}Lista de Cursos - SENA APP{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/cursos.css' %}">
{% endblock %}

{% block content %}
    <h1>Lista de Cursos</h1>
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Programa</th>
                <th>Instructor Coordinador</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Estado</th>
                <th>Detalle</th>
            </tr>
        </thead>
        <tbody>
            {% for curso in varcursos %}
            <tr>
                <td>{{ curso.codigo }}</td>
                <td>{{ curso.nombre }}</td>
                <td>{{ curso.programa }}</td>
                <td>{{ curso.instructor_coordinador }}</td>
                <td>{{ curso.fecha_inicio }}</td>
                <td>{{ curso.fecha_fin }}</td>
                <td>{{ curso.estado }}</td>
                <td class="text-center">


                            <!-- Botón Ver Detalles -->
                            <a href="{% url 'cursos:detalle_curso' curso.id %}"
                                class="btn btn-sm btn-outline-info" 
                                title="Ver detalles"
                                data-bs-toggle="tooltip">
                                <i class="bi bi-eye-fill"></i>
                            </a>
                            <!-- Botón Editar -->
                            <a href="{% url 'cursos:editar_curso' curso.id %}" 
                                class="btn btn-sm btn-outline-primary" 
                                title="Editar instructor"
                                data-bs-toggle="tooltip">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <!-- Botón Eliminar -->
                            <a href="{% url 'cursos:eliminar_curso' curso.id %}" 
                                class="btn btn-sm btn-outline-danger" 
                                title="Eliminar instructor"
                                data-bs-toggle="tooltip">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                        </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}