{% extends "master.html" %}
{% load static %}

{% block title %}
Lista de Programas
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/programas.css' %}">
{% endblock %}

{% block content %}
<div class="programas-list-container">
    <h1>Lista de Programas de Formación</h1>

    <table class="programas-table">
        <thead>
            <tr>
                <th>Nombre del Programa</th>
                <th>Nivel de Formación</th>
                <th>Modalidad</th>
                <th>Duración (Meses)</th>
                <th>Ver Detalles</th>
            </tr>
        </thead>
        <tbody>
            {% for programa in lista_programas %}
            <tr>
                <td>{{ programa.nombre }}</td>
                <td>{{ programa.get_nivel_formacion_display }}</td>
                <td>{{ programa.get_modalidad_display }}</td>
                <td>{{ programa.duracion_meses }}</td>
                <td><a href="{% url 'programas:detalle_programa' programa.id %}">Ver más</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="total-programas">
        <p>Total de programas: {{ total_programas }}</p>
    </div>
</div>
{% endblock %}
