/* SENA_APP/instructores/static/css/instructores.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
.container {
   max-width: 1200px;         /* ancho máximo del contenedor */
    width: 100%;               /* ocupa todo el ancho disponible */
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;          /* permite scroll si la tabla se desborda horizontalmente */
    box-sizing: border-box;    /* incluye padding en el ancho total */
}

h1 {
    text-align: center;
    color: #333;
}
table {
    width: auto;        /* se ajusta al contenido */    
    border-collapse: collapse;
    table-layout: fixed; 
}

th, td {
    word-wrap: break-word;     /* permite que el texto se divida en varias líneas */
    overflow-wrap: break-word;
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f1f1f1;
}
a {
    color: #3498db;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


.details {
    margin-top: 20px;
}
.details p {
    font-size: 1.1em;
    line-height: 1.6;
}
.details p strong {
    display: inline-block;
    width: 200px;
}
.back-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.back-link:hover {
    background-color: #2980b9;
}